body{
	background: url('../../img/maxresdefault.jpg');
}
.konten{
	font-family: 'Work Sans', sans-serif;
	padding-top: 100px;
}
.konten p{
	 text-align: justify;text-justify: inter-word;
	 padding: 10px;
	 padding-right: 90px;
}
.konten h1{
	width: 500px;
	font-size: 40px;
	background: #E94560;
	color: white;
	text-align: center;
}
.row-judul{
	flex: 40%;
}
.row-video{
	flex: 60%;
}
.metsu{
	border-radius: 2px;
	padding:5px;
	color: white;
	margin-left: 2px;
}
.row__kiri{
	flex: 70%;
}
.row__kanan{
	flex: 30%;
}
.episodes{
	border-radius: 5px;
	margin: 20px;
	background: #F5F0BB;
	width: min(100%, 60rem);
	height: 400px;
	padding: 20px;
}
.episodes__kotak{
	margin-top: 10px;
	background-color: #C4DFAA;
	color: black;
	padding: 10px;
}.episodes__kotak:hover{
	box-shadow: 1px 3px 5px black;
	margin-top: 10px;
	background-color: #90C8AC;
	cursor: pointer;
	padding: 10px;
}
.episodes .row_episodes__left{
	flex: 80%;
}.episodes .row_episodes__right{
	flex: 20%;
}
.komen{
	width: 100%;
	height: 500px;
	padding: 20px;
}
.komen .user__komen{
	padding: 10px;
	margin-right: 40px;
	/* From https://css.glass */
	background: rgba(36, 193, 254, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(36, 193, 254, 0.3);
}
.komen .row__three{
	flex: 20%;
}
.footer{
		overflow: hidden;
		padding: 40px;
		width: 100%;
		height: 240px;
		background-color: white;
		box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
	}
	.footer-left{
		flex: 40%;
	}.footer-left .a-block a{
		display: block;
		padding-top: 15px;
	}.footer-middle{
	}.footer-right{
		flex: 50%;
	}.footer-right .map{
		overflow-y: hidden;
		width: 600px;
		height: 220px;
		margin-bottom: 10px;
		box-shadow: 2px 3px 4px black;
		border-radius: 10px;
	}